.card {
  background-color: #1976d2;
  border-radius: 8px;
  color: white;
  position: relative;
  width: 100%;
}

.form{
  :hover {
    background-color: yellow;
    color: #1976d2;
  }
}

.link {
  color: #34d399;
  display: block;
  margin: 8px 0 8px 4px;
  padding-right: auto;
  width: 100px;
  &:hover {
    color: yellow;
  }
}

.parentCard {
  display: flex;
  margin: 16px auto 16px;
  margin-bottom: 4px;
  max-width: 448px;
}

.title {
  margin: 8px 0 0 4px;
}

.publicationDate {
  margin: 8px 0 0 4px;
}

.buttonBase {
  background-color: #34d399;
  border-radius: 8px;
  color: white;
  font-size: 14px;
  font-weight: 500;
  inset-inline-end: 10px;
  padding: 8px 16px;
  position: absolute; // TODO:gridでの調整に変更する
  :focus {
    --tw-ring-color: rgb(147 197 253);
    box-shadow: var(--tw-ring-inset) 0 0 0;
    outline: none;
  }
}

.watchedButton {
@extend .buttonBase;
  bottom: 8px;

}

.watchListButton {
@extend .buttonBase;
  bottom: 50px;
}