@use "@/styles/_variables" as var;

.containerTitle {
  border-bottom: 1px solid #d5d9de;
  font-size: 24px;
  margin: 32px 0 0 16px;
}

.container {
  display: grid;
  gap: 32px 32px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: minmax(100px 1fr);
  margin: 16px;
}

.imgContainer {
  height: 200px;
  object-fit: cover;
  width: 200px;

  @include var.mq(md){
    height: 120px;
    width: 120px;
  }
  @include var.mq(sm) {
    height: 80px;
    width: 80px;
  }
}

.link {
  display: flex;
  justify-content: center;

  &:hover {
    opacity: 0.6;
  }
}

.movieTitle{
    margin-top: 4px;

    @include var.mq(sm) {
        font-size: 12px;
      }
  }

.movieLabel{
    display: flex;
    justify-content: center;
  }

.rank{
  align-items: center;
  display: flex;
  font-size: 24px;
  font-weight: 700;
  justify-content: flex-start;
  padding-left: 4px;

  @include var.mq(sm) {
    font-size: 16px;
  }
}